.main-container {
  display: flex;
  gap: 24px;
  align-items: flex-start;
  justify-content: center;

  width: 100%;
  min-height: 600px;
  padding: 20px;
}

.center-content {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  min-height: 400px;
}

.card-column {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
  justify-content: space-between;

  width: 100%;
  max-width: 1440px;
}
