:root {
  --bg-color: #e7edf0;
  --text-color: #1f2a34;
  --header-bg: #d4dce1;
  --header-text: #1f2a34;
  --card-bg: #f5f7f8;
  --card-hover-bg: #d6dce1;
  --card-details-bg: #f5f7f8;
  --link-color: #2e7d32;
  --link-hover: #388e3c;
  --link-active: #19a225;
  --button-bg: #2e7d32;
  --button-hover-bg: #388e3c;
  --button-disabled-opacity: 0.5;
  --input-border: #dfe3e6;
  --card-checked: #6d6d6d;

  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
}

:root.dark {
  --bg-color: #1e293b;
  --text-color: #d1d5db;
  --header-bg: #2c3e50;
  --header-text: #d1d5db;
  --card-bg: #353a47;
  --card-hover-bg: #394860;
  --card-details-bg: #353a47;
  --input-border: #475569;
  --card-checked: #9ca3af;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--text-color);
  background-color: var(--bg-color);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

a {
  color: var(--link-color);
  text-decoration: none;
}

button {
  cursor: pointer;

  display: block;

  width: fit-content;
  padding: 10px 12px;
  border: 1px solid transparent;
  border-radius: 8px;

  font-family: inherit;
  font-size: 1em;
  font-weight: 500;
  color: var(--text-color);

  background-color: var(--button-bg);

  transition: background-color 0.25s;
}

button:hover {
  background-color: var(--button-hover-bg);
}

button[disabled] {
  pointer-events: none;
  opacity: var(--button-disabled-opacity);
}
