.header {
  display: flex;
  justify-content: space-between;

  padding: 1rem 2rem;

  color: var(--header-text);

  background-color: var(--header-bg);
}

.header__nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header__nav-list {
  display: flex;
  gap: 1.5rem;

  margin: 0;
  padding: 0;

  list-style: none;
}

.nav-list__item {
  display: inline;
}

.nav-list__item-link {
  font-weight: bold;
  color: var(--text-color);
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-list__item-link:hover {
  color: var(--link-hover);
}

.nav-list__item-link.active {
  pointer-events: none;
  color: var(--link-active);
}
