.loader {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 100%;
  min-height: 40rem;
}

.loader img {
  display: block;
  width: 8rem;
  height: 8rem;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(-360deg);
  }
}
