.checked-item {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  padding: 20px;
  border-radius: 12px;

  background-color: var(--card-details-bg);
}

.checked-item__buttons {
  display: flex;
  gap: 12px;
  justify-content: end;
}
