.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner-img {
  width: 120px;
  height: 120px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
