.card-details {
  position: relative;

  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  justify-content: center;

  min-width: 280px;
  min-height: 600px;
}

.card-details__card {
  pointer-events: none;

  position: relative;

  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 12px;
  align-items: center;

  width: 100%;
  border-radius: 12px;

  background-color: var(--card-details-bg);
}

.card-details__card .card {
  cursor: default;
  background-color: transparent;
}

.card-details__close {
  cursor: pointer;

  position: absolute;
  z-index: 5;
  top: 5px;
  right: 5px;

  padding: 0;
  border: none;

  font-size: 24px;
  color: #999;

  background-color: transparent;
}

.card-details__close:hover {
  color: #000;
  background-color: transparent;
}

.card-details__title {
  font-size: 24px;
  font-weight: 600;
}
